$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$deepPurple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$lightBlue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$lightGreen: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$deepOrange: #FF5722;
$brown: #795548;
$grey: #9E9E9E;
$silver: #c9c9c9;
$darkGray: #6a6a6a;
$blueGrey: #607D8B;
$black: #000000;
$white: #FFFFFF;
//
$primary: $orange;
$secondary: $teal;
$light: $white;
$dark: #333333;
$success: $green;
$error: $red;
$info: $blue;
$warning: $amber;
//
$light: darken($white, .2);
$semiLight: darken($white, .4);
$dark: lighten($black, .2);
$semiDark: lighten($black, .4);