$layoutSmallMin: 320px;
$layoutSmallMax: 425px;
$layoutMediumMin: $layoutSmallMax + 1;
$layoutMediumMax: 768;
$layoutLargeMin: $layoutMediumMax + 1;
$layoutLargeMax: 1024px;
$layoutXLargeMin: $layoutLargeMax + 1;
// font
$fontSizeXSmall: fontSize(.65);
$fontSizeSmall: fontSize(.85);
$fontSizeBase: fontSize(1);
$fontSizeMedium: fontSize(1.25);
$fontSizeLarge: fontSize(1.5);
$fontSizeXLarge: fontSize(2);
$fontSizeXXLarge: fontSize(4);
// colors
$bodyBgColor: rgba(250, 250, 250, .85);
$borderColor: #c9c9c9;
$boxShadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
// timing
$transitionShortDuration: 150ms;
$transitionMediumDuration: 300ms;
$transitionLongDuration: 500ms;
// easing

// zIndex
$zIndexBase: 1;
$zIndexSidenav: 90;
$zIndexHeader: 91;
$zIndexDialog: 92;
$zIndexDatePicker: 92;
//
$borderRadius: 5px;
$headerHeight: 64px;
$breadcrumbHeight: 45px;
$footerHeight: 32px;
$sidenavWidth: 256px;
// sidenav
$sidenav-transition: all $transitionMediumDuration ease-in-out;
// normalize
$base-font-size: $fontSizeBase;
