// media queries
$layout-small-min: 320px;
$layout-small-max: 425px;
$layout-medium-min: $layout-small-max;
$layout-medium-max: 768px;
$layout-large-min: $layout-medium-max;
$layout-large-max: 1024px;
$layout-xlarge-min: $layout-large-max;

// page
$page-max-width: $layout-medium-max;

// font
$font-size-xsmall: font-size(.65);
$font-size-small: font-size(.85);
$font-size-base: font-size(1);
$font-size-medium: font-size(1.25);
$font-size-large: font-size(1.5);
$font-size-xlarge: font-size(2);
$font-size-xxlarge: font-size(4);

// timing
$transition-duration-short: 150ms;
$transition-duration-medium: 300ms;
$transition-duration-long: 500ms;
$transition-duration-default: $transition-duration-short;

// easing
$transition-effect-default: ease-in-out;

// zIndex
$z-index-base: 1;
$z-index-content: 2;
$z-index-header: 10;
$z-index-sidenav: 11;
$z-index-navbar: 11;
$z-index-dialog: 12;
$z-index-date-picker: 12;
$z-index-actionsheet: 13;
$z-index-splash: 90;
$z-index-notification: 99;

// sizes
$border-radius: 5px;
$header-height: 56px; // from google
$header-padding: 16px; // from google
$breadcrumb-height: 45px;
$footer-height: 32px;
$sidenav-width: 300px;

// colors
$color-primary: #6b036b;
$color-secondary: #c4a42d;
$color-default: $grey;
$color-success: $green;
$color-error: $red;
$color-info: $blue;
$color-warning: $amber;
$color-light: darken($white, 10%);
$color-semilight: darken($white, 40%);
$color-dark: lighten($black, 10%);
$color-semidark: lighten($black, 40%);
$color-list: $color-primary $color-success $color-error $color-warning $color-info;
$color-classes: primary success error warning info;

//shadow
$shadow-color: $color-dark;
$shadow-horizontal-offset:1px;
$shadow-vertical-offset:1px;
$shadow-radius:3px;
$shadow-default: $shadow-horizontal-offset $shadow-vertical-offset $shadow-radius $shadow-color;

// element colors
$body-background-color: rgba(250, 250, 250, .85);
$border-color: $color-default;
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);