$actionsheet-transition-enter-duration: $transition-duration-default;
$actionsheet-transition-leave-duration: floor(2 * $sidenav-transition-enter-duration / 3);
$actionsheet-transition-effect: $transition-effect-default;
$actionsheet-bg-color: transparentize($color-light, .1);
$actionsheet-offset: 5%;
$actionsheet-item-padding: 15px;

.action-list {
    background: $actionsheet-bg-color;
    border-radius: $border-radius $border-radius 0 0;
    bottom: 0;
    left: $actionsheet-offset;
    position: fixed;
    right: $actionsheet-offset;
    text-align: center;
    z-index: $z-index-actionsheet; //border: 1px solid red;

    li {
        border-bottom: 1px solid $border-color;
        cursor: pointer;
        padding: $actionsheet-item-padding;
    }
}

.actionsheet-backdrop {
    background: transparentize($black, .5);
    bottom: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    will-change: opacity;
    z-index: $z-index-actionsheet - 1;
}

.actionsheet-enter {
    .action-list {
        @include translate3d(0, 100%, 0);
    }

    .actionsheet-backdrop {
        opacity: .1;
    }

    &.actionsheet-enter-active {
        .sidenav {
            @include translate3d(0, 0, 0);
            transition: transform $actionsheet-transition-enter-duration $actionsheet-transition-effect;
        }

        .actionsheet-backdrop {
            opacity: 1;
            transition: opacity $actionsheet-transition-enter-duration $actionsheet-transition-effect;
        }
    }
}

.actionsheet-leave {
    &.actionsheet-leave-active {
        .action-list {
            @include translate3d(0, 100%, 0);
            transition: transform $sidenav-transition-leave-duration $sidenav-transition-effect;
        }

        .actionsheet-backdrop {
            opacity: .1;
            transition: opacity $sidenav-transition-leave-duration $sidenav-transition-effect;
        }
    }
}
