$actionSheet-transition-enter-duration: $transition-duration-default;
$actionSheet-transition-leave-duration: floor(2 * $sidenav-transition-enter-duration / 3);
$actionSheet-transition-effect: $transition-effect-default;
$actionSheet-bg-color: transparentize($color-light, .1);
$actionSheet-offset: 5vw;
$actionSheet-item-padding: 15px;

.actionSheet-component {
}

.action-list {
    position: fixed;
    bottom: 0;
    left: $actionSheet-offset;
    right: $actionSheet-offset;
    z-index: $z-index-actionSheet;
    //border: 1px solid red;
    border-radius: $border-radius $border-radius 0 0;
    background: $actionSheet-bg-color;
    text-align: center;
    li {
        padding: $actionSheet-item-padding;
        cursor: pointer;
        border-bottom: 1px solid $border-color;
    }
}

.actionSheet-backdrop {
    will-change: opacity;
    position: fixed;
    background: transparentize($black, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-actionSheet - 1;
    opacity: 1;
}

.actionSheet-enter {

    .action-list {
        @include translate3d(0, 100%, 0);
    }
    .actionSheet-backdrop {
        opacity: 0.1;
    }

    &.actionSheet-enter-active {
        .sidenav {
            transition: transform $actionSheet-transition-enter-duration $actionSheet-transition-effect;
            @include translate3d(0, 0, 0);
        }
        .actionSheet-backdrop {
            transition: opacity $actionSheet-transition-enter-duration $actionSheet-transition-effect;
            opacity: 1;
        }
    }
}

.actionSheet-leave {

    &.actionSheet-leave-active {
        .action-list {
            transition: transform $sidenav-transition-leave-duration $sidenav-transition-effect;
            @include translate3d(0, 100%, 0);
        }
        .actionSheet-backdrop {
            transition: opacity $sidenav-transition-leave-duration $sidenav-transition-effect;
            opacity: 0.1;
        }
    }
}

