$alert-padding: 7px 10px;
$alert-margin: 0;
$alert-lighten-ratio: 50%;

@mixin alert-style($color) {
    border: 1px solid $color;
    color: $color;
    background-color: lighten($color, $alert-lighten-ratio);
}

.alert-component {
    padding: $alert-padding;
    margin: $alert-margin;
    border: 1px solid $color-default;
    border-radius: $border-radius;
    color: $color-default;
    font-size: $font-size-small;
}

.alert-error {
    @include alert-style($color-error);
}

.alert-info {
    @include alert-style($color-info);
}
