$avatar-default-width: 64px;
$avatar-holder-bg: $color-default;

.avatar {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    //align-items: center;
    width: $avatar-default-width;
    height: $avatar-default-width;
    border-radius: 50%;
    //border: 2px solid $border-color;
    img {
        width: 100%;
        height: auto;
    }
    .avatar-holder {
        width: 100%;
        height: 100%;
        background: $avatar-holder-bg;
    }
}