$burger-item-height: 3px;

@mixin back-btn-rotate($deg) {
    @include rotate($deg);
    #{$float}: -3px;
}

@mixin close-btn-rotate($deg, $coef) {
    transform: translate3d(0, $coef * 10px, 0) rotate($deg);
    //#{$float}: -3px;
}

.burger-component {
    $burger-width: $header-height - ( 2 * $header-padding);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: $burger-width + ($header-padding/2);
    height: $burger-width - 1;
    overflow: hidden;
    outline: 0 !important;

    > span {
        position: relative;
        #{$float}: 0;
        @include rotate(0);
        height: $burger-item-height;
        background: $white;
        border-radius: ceil($burger-item-height / 2);
        transition: transform, #{$float} $transition-duration-short;
    }

    &.back-btn {
        span:first-child {
            @include back-btn-rotate(40deg);
        }
        span:nth-child(2) {
            @include scale(0);
        }
        span:last-child {
            @include back-btn-rotate(-40deg);
        }
    }
    &.close-btn {
        span:first-child {
            @include close-btn-rotate(40deg, 1);
        }
        span:nth-child(2) {
            @include scale(0);
        }
        span:last-child {
            @include close-btn-rotate(-40deg, -1);
        }
    }
}