$dp-cell-size: 45px;
$dp-cell-padding: 5px;

.date-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .picker-wrapper {
        background: $white;
        border-radius: $border-radius;
        overflow: hidden;
    }
    .month-year-row {
        display: flex;
        flex-direction: row;
        background: $color-primary;
        color: $white;
        text-align: center;
        > div {
            //border: 2px solid red;
            flex: 1;
            padding: (4 * $dp-cell-padding) $dp-cell-padding;
        }
        h2, a {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
        }
        h2 {
            margin: auto 7px;
            font-weight: lighter;
            width: 80px;
        }
    }
    .time-select {
        display: flex;
        border-bottom: 1px solid $border-color;
        > div {
            display: inline-block;
            flex: 1;
            padding: $dp-cell-padding;
        }
        select {
            width: 50%;
            display: inline-block;
            vertical-align: middle;
        }
        label {
            display: inline-block;
            vertical-align: middle;
            margin: auto 10px;
            font-weight: lighter;
        }
        .min-select {
            text-align: start;
        }
        .hour-select {
            text-align: end;
        }
    }

    table {
        table-layout: fixed;
        border: 1px solid $border-color;
    }
    th, td {
        text-align: center;
    }
    th {
        padding: 3 * $dp-cell-padding $dp-cell-padding $dp-cell-padding $dp-cell-padding;
        min-width: $dp-cell-size;
        color: $color-primary;
        font-weight: lighter;
        border-bottom: 1px solid $border-color;
    }
    td {
        cursor: pointer;
        height: $dp-cell-size;
    }
    i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: lighter;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: background $transition-duration-short $transition-effect-default;
        background: $white;
    }
    .selected {
        i {
            background: $color-primary;
            color: $white;
        }
    }
    .today {
        i {
            background: $color-secondary;
            color: $white;
        }
    }
}