$dialog-background-color: $white;
$dialog-header-padding: 7px;
$dialog-padding: 30px;
$dialog-border-radius: $border-radius;

.dialog-component {
    position: absolute;
    align-items: center;
    border-radius: $border-radius;
    overflow: hidden;
    z-index: $z-index-dialog;
    background: $dialog-background-color;
    min-width: $layout-small-min;
    > .dialog-header {
        padding: $dialog-header-padding;
        border-bottom: 1px solid $border-color;
        h3 {
            white-space: nowrap;
        }
        button {
            position: absolute;
            top: 0;
            #{$opposite-float}: $dialog-header-padding;
            min-width: auto;
        }
    }
    > .dialog-content {
        padding: $dialog-padding floor($dialog-padding / 2);
        flex: 1;
    }
    > .dialog-footer {
        border-top: 1px solid $border-color;
        text-align: end;
        .btn-group {
            display: flex;
            justify-content: flex-end;
        }
        .btn {
            flex: 1;
            height: $btn-height-large;
            margin: $border-radius;
            border-radius: $border-radius;
            max-width: 50%;
        }
    }
}