$floatinbBtn-size: $btn-height-large;

.floating-btn {
    position: fixed;
    bottom: 10px;
    #{$opposite-float}: 10px;
    border-radius: 50%;
    width: $floatinbBtn-size;
    height: $floatinbBtn-size;
    overflow: hidden;
    white-space: nowrap;
    //box-shadow: 2px 2px 10px $color-dark;

    &.fb-primary {
        background: $color-primary;
        color: $white;
    }
    > button {
        background: transparent;
        cursor: pointer;
        //position: absolute;
        width: 100%;
        height: 100%;
        border: 0;
        font-size: $font-size-medium;
    }
}