$floatinb-btn-size: $btn-height-large;

.floating-btn {
    #{$opposite-float}: 10px;
    border-radius: 50%;
    bottom: 10px;
    height: $floatinb-btn-size;
    overflow: hidden;
    position: fixed;
    white-space: nowrap; //box-shadow: 2px 2px 10px $color-dark;
    width: $floatinb-btn-size;

    &.fb-primary {
        background: $color-primary;
        color: $white;
    }

    >button {
        background: transparent;
        border: 0;
        cursor: pointer;
        font-size: $font-size-medium;
        height: 100%; //position: absolute;
        width: 100%;

        .icon {
            font-size: $font-size-xlarge;
        }
    }
}