$fb-button-size: $btn-height-large;
$fb-shadow-properties: $shadow-default;

.floating-btn {
    position: fixed;
    bottom: 10px;
    #{$opposite-float}: 10px;
    border-radius: 50%;
    width: $fb-button-size;
    height: $fb-button-size;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    @include drop-shadow($fb-shadow-properties);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
        font-size: $font-size-xlarge;
    }

    &.fb-primary {
        background: $color-primary;
        color: $white;
    }
}