$menu-z-index: $z-index-header;
$menu-item-padding-horizontal: 3px 5px;
$menu-item-padding-vertical: 10px;

.menu {
    position: relative;
    z-index: $menu-z-index;
    li {
        list-style: none;
        margin: 0;
    }
    a {
        display: block;
        width: 100%;
    }
    &.menu-hr {
        li {
            display: inline-block;
            a {
                padding: $menu-item-padding-horizontal;
            }
        }
    }
    &.menu-vr {
        li {
            border-top: 1px solid $border-color;
            &:last-child {
                border-bottom: 1px solid $border-color;
            }
            a {
                padding: $menu-item-padding-vertical;
            }
        }
    }
}