$modal-background-color: transparentize($color-dark, .3);

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background: $modal-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid silver;
    z-index: $z-index-dialog;
    > * {
        flex: 1;
    }
}

html.modal-open {
    overflow-y: hidden;
    .page {
        overflow-y: hidden;
    }
    .modal {
        .page {
            overflow-y: auto;
        }
    }
}