$navbar-bg-color: rgba(0,0,0,.65);
$navbar-title-margin: 10px;
$navbar-back-btn-size: $btn-height;

.navbar {
    //border: 2px solid red;
    align-items: center;
    background: $navbar-bg-color;
    color: $color-light;
    display: flex;
    height: $header-height;
    left: 0;
    padding: $header-padding;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-index-navbar;

    &.navbar-transparent {
        background: transparent; // make elements under navbar clickable
        pointer-events: none;

        .nav-btn {
            pointer-events: auto;
        }
    }

    .nav-title {
        // $navbar-title-back-margin: floor(2 * $navbar-title-margin / 3);
        color: $white;
        flex: 1;
        overflow: hidden;
        padding: 0 $navbar-title-margin;
        text-align: $float;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .navbar-btn-group {
        position: absolute;
        #{$opposite-float}: $header-padding;

        .btn {
            background: transparent;
            border: 0;
            cursor: pointer;
            min-width: auto;

            .icon {
                top: 0;
            }
        }

        .icon {
            color: $white;
            cursor: pointer;
            font-size: ceil(1.6 * $font-size-medium);
            position: relative;
            top: 3px;
        }
    }

    .nav-btn {
        cursor: pointer;
    }
}
