.navbar-component {
    height: 100%;
    padding: $header-padding;
    display: flex;
    align-items: center;
    background: transparentize($color-dark, .25);
    color: $color-light;
    .nav-title {
        flex: 1;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding:0 10px;
    }
    .nav-btn {
        font-size: $font-size-xlarge;
        cursor: pointer;
    }
}