$sidenav-header-avatar-width: 100px;
$sidenav-padding: 20px;
$sidenav-top-padding: $header-height + $sidenav-padding;

.sidenav-content {
    header {
        background: url('../img/sidenav-header.png') no-repeat center;
        background-size: cover;
        color: $white;
        padding: $sidenav-top-padding $sidenav-padding $sidenav-padding;
        position: relative;

        .icon {
            #{$opposite-float}: $sidenav-padding;
            bottom: $sidenav-padding;
            color: $white;
            font-size: $font-size-large;
            position: absolute;
        }
    }

    .avatar-component {
        border: 2px solid $border-color;
        height: $sidenav-header-avatar-width;
        width: $sidenav-header-avatar-width;
    }

    .name-wrapper {
        $name-padding: ceil($sidenav-padding / 2);
        margin: get-value-by-direction($name-padding 0 0 3 * $name-padding, $name-padding 3 * $name-padding 0 0);
    }
}
