@mixin debug($value) {
    body::before {
        background: $white;
        border: 2px solid $red;
        content: $value;
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
    }
}

@mixin rtl($prop, $value, $rtl-value) {
    @if ($direction==ltr) {
        #{$prop}: $value;
    } @else {
        #{$prop}: $rtl-value;
    }
}

@mixin rotate($degrees) {
    transform: rotate($degrees);
}

@mixin scale($x, $y: $x) {
    transform: scale($x, $y);
}

@mixin translate($x, $y: $x) {
    transform: translate($x, $y);
}

@mixin skew($x, $y: $x) {
    -webkit-backface-visibility: hidden;
    transform: skew($x, $y);
}

@mixin translate3d($x, $y: $x, $z: $y) {
    transform: translate3d($x, $y, $z);
}

@mixin filter($filter) {
    filter: $filter;
}

@mixin animation-rotate($duration, $effect: $transition-effect-default) {
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: $effect;
}

// Media queries
@mixin media-query($min-width, $max-width: 0) {
    @if ($min-width > 0 and $max-width > 0) {
        @media screen and (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }
    } @else if ($min-width > 0) {
        @media screen and (min-width: $min-width) {
            @content;
        }
    } @else {
        @media screen and (max-width: $max-width) {
            @content;
        }
    }
}

@mixin media-query-small() {
    @include media-query(0, $layout-small-max) {
        @content;
    }
}

@mixin media-query-medium() {
    @include media-query($layout-medium-min, $layout-medium-max) {
        @content;
    }
}

@mixin media-query-large() {
    @include media-query($layout-large-min, $layout-large-max) {
        @content;
    }
}

@mixin media-query-xlarge() {
    @include media-query($layout-xlarge-min) {
        @content;
    }
}

@mixin media-query-below() {
    @include media-query(0, $layout-medium-max) {
        @content;
    }
}

@mixin media-query-above() {
    @include media-query($layout-large-min) {
        @content;
    }
}

@mixin media-query-landscape() {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin media-query-portrait() {
    @media screen and (orientation: portrait) {
        @content;
    }
}
