// media queries
$layout-small-min: 320px;
$layout-small-max: 425px;
$layout-medium-min: $layout-small-max;
$layout-medium-max: 768px;
$layout-large-min: $layout-medium-max;
$layout-large-max: 1024px;
$layout-xlarge-min: $layout-large-max;

// font
$font-size-base: 16px;
$font-size-xsmall: floor(.65 * $font-size-base);
$font-size-small: floor(.85 * $font-size-base);
$font-size-medium: floor(1.25 * $font-size-base);
$font-size-large: floor(1.5 * $font-size-base);
$font-size-xlarge: floor(2 * $font-size-base);
$font-size-xxlarge: floor(4 * $font-size-base);

// timing
$transition-duration-short: 150ms;
$transition-duration-medium: 300ms;
$transition-duration-long: 500ms;
$transition-duration-default: $transition-duration-short;

// easing
$transition-effect-default: ease-in-out;

// zIndex
$z-index-base: 1;
$z-index-content: 2;
$z-index-header: 10;
$z-index-sidenav: 11;
$z-index-navbar: 11;
$z-index-dialog: 12;
$z-index-date-picker: 12;
$z-index-actionsheet: 13;
$z-index-splash: 90;
$z-index-notification: 99;

// sizes
$unit: 2px;
$border-radius: floor(2 * $unit);
$header-padding: floor(8 * $unit);
$breadcrumb-height: floor(22 * $unit);
$footer-height: floor(16 * $unit);
$page-max-width: $layout-medium-max;

// colors
$color-primary: #519af7;
$color-primary-text: $white;
$color-primary-light: #a9d4ff;
$color-primary-light: $black;
$color-primary-dark: #4375ac;
$color-primary-dark-text: $white;
$color-secondary: #eb522e;
$color-secondary-text: $white;
$color-default: $grey;
$color-default-text: $black;
$color-success: #3db366;
$color-error: #f15b44;
$color-info: $blue;
$color-warning: #fdc600;
$color-light: darken($white, 10%);
$color-semilight: darken($white, 40%);
$color-dark: lighten($black, 10%);
$color-semidark: lighten($black, 40%);
$color-list: $color-primary $color-success $color-error $color-warning $color-info;
$color-classes: primary success error warning info;

//shadow
$shadow-color: $color-dark;
$shadow-horizontal-offset: $unit;
$shadow-vertical-offset: $unit;
$shadow-radius: floor(2 * $unit);
$shadow-default: $shadow-horizontal-offset $shadow-vertical-offset $shadow-radius $shadow-color;

// element colors
$body-background-color: rgba(250, 250, 250, .85);
$border-color: $color-default;
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

// basic element
$element-height: floor(18 * $unit);
$element-height-large: floor(1.5 * 18 * $unit);
$element-height-xlarge: floor(2 * 18 * $unit);
$element-padding: floor(4 * $unit);
$element-margin: floor(2 * $unit);
$element-min-width: floor(32 * $unit);
$element-background: $white;
$element-color: $color-dark;

// form
$form-components-height: $element-height;
$form-components-height-large: $element-height-large;
$form-group-padding: $element-padding;
$form-group-margin: $element-margin;
$form-control-padding: $element-padding;
$form-control-background: $white;
$form-control-border-radius: $border-radius;

// appbar
$appbar-height: floor(28 * $unit);
$appbar-padding: floor(8 * $unit);
$appbar-icon-size: floor(12 * $unit);
