$crud-menu-top-offset: $header-height+5px;
$crud-menu-side-offset: 10px;
$crud-menu-z-index: $z-index-content;

.crud-menu-component {
    #{$opposite-float}: $crud-menu-side-offset;
    position: absolute;
    text-align: end;
    top: $crud-menu-top-offset;
    z-index: $crud-menu-z-index;

    li {
        display: inline-block;
        margin: 5px 10px;
    }
}
