$dp-cell-size: 45px;
$dp-cell-padding: 5px;

.date-picker {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .picker-wrapper {
        background: $white;
        border-radius: $border-radius;
        overflow: hidden;
    }

    .month-year-row {
        background: $color-primary;
        color: $white;
        display: flex;
        flex-direction: row;
        text-align: center;

        >div {
            //border: 2px solid red;
            flex: 1;
            padding: (4 * $dp-cell-padding) $dp-cell-padding;
            white-space: nowrap;
        }

        h2, a {
            cursor: pointer;
            display: inline-block;
            user-select: none;
            vertical-align: middle;
        }

        h2 {
            font-weight: lighter;
            margin: auto 7px;
        }
    }

    .time-select {
        border-bottom: 1px solid $border-color;
        display: flex;

        >div {
            display: inline-block;
            flex: 1;
            padding: $dp-cell-padding;
        }

        select {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
        }

        label {
            display: inline-block;
            font-weight: lighter;
            margin: auto 10px;
            vertical-align: middle;
        }

        .min-select {
            text-align: start;
        }

        .hour-select {
            text-align: end;
        }
    }

    table {
        border: 1px solid $border-color;
        table-layout: fixed;
    }

    th, td {
        text-align: center;
    }

    th {
        border-bottom: 1px solid $border-color;
        color: $color-primary;
        font-weight: lighter;
        min-width: $dp-cell-size;
        padding: 3 * $dp-cell-padding $dp-cell-padding $dp-cell-padding $dp-cell-padding;
    }

    td {
        cursor: pointer;
        height: $dp-cell-size;
        width: $dp-cell-size;
    }

    i {
        background: $white;
        border-radius: 50%;
        display: inline-block;
        font-style: normal;
        font-weight: lighter;
        height: $dp-cell-size;
        line-height: $dp-cell-size;
        transition: background $transition-duration-short $transition-effect-default;
        width: $dp-cell-size;
    }

    .selected {
        i {
            background: $color-primary;
            color: $white;
        }
    }

    .today {
        i {
            background: $color-secondary;
            color: $white;
        }
    }
}
