$dialog-background-color: $white;
$dialog-header-padding: 7px;
$dialog-padding: 30px;
$dialog-border-radius: $border-radius;

.dialog {
    align-items: center;
    background: $dialog-background-color;
    border-radius: $border-radius;
    min-width: $layout-small-min;
    overflow: hidden;
    position: relative;
    z-index: $z-index-dialog;

    >.dialog-header {
        border-bottom: 1px solid $border-color;
        padding: $dialog-header-padding;

        h3 {
            font-weight: lighter;
            white-space: nowrap;
        }

        .btn {
            #{$opposite-float}: 0;
            font-size: $font-size-medium;
            min-width: 1px;
            position: absolute;
            top: 0;
        }
    }

    >.dialog-content {
        flex: 1;
        padding: $dialog-padding floor($dialog-padding / 2);
    }

    >.dialog-footer {
        border-top: 1px solid $border-color;
        text-align: end;

        .btn-group {
            display: flex;
            justify-content: flex-end;
        }

        .btn {
            border-radius: $border-radius;
            flex: 1;
            height: $btn-height-large;
            margin: $border-radius;
            max-width: 50%;
        }
    }
}
