.icon {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    height: 1em;
    text-transform: none;
    letter-spacing: normal;
    width: 1em;
    white-space: nowrap;
    word-wrap: normal;

    // Support for all WebKit browsers
    -webkit-font-smoothing: antialiased;
    // Support for Safari and Chrome
    text-rendering: optimizeLegibility;
    // Support for Firefox
    -moz-osx-font-smoothing: grayscale;
    // Support for IE
    font-feature-settings: 'liga';
}
