$pagination-input-width: 64px;

.pagination {
    background: $white;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    text-align: center;
    white-space: nowrap;

    form {
        display: inline-block;

        input {
            background: $white;
            border: 1px solid $border-color;
            border-radius: 0;
            text-align: center;
            width: $pagination-input-width;
        }
    }

    .btn {
        min-width: 32px;
    }
}
