$pl-modal-bg: transparentize($white, .9);
$pl-wrapper-size: 30vh;
$pl-circular-size: $pl-wrapper-size;
$pl-circular-border-color: $color-primary;
$pl-wrapper-min-size: 200px;

.preloader {
    text-align: center;

    .pl-wrapper {
        height: $pl-wrapper-size;
        margin: auto;
        min-height: $pl-wrapper-min-size;
        min-width: $pl-wrapper-min-size;
        position: relative;
        width: $pl-wrapper-size;
    }

    .pl-circular {
        @include animation-rotate(4s, linear);
        background: transparentize($color-primary, .95);
        border: 2px solid transparent;
        border-radius: 50%;
        border-top-color: $pl-circular-border-color;
        height: 100%;
        width: 100%;
    }

    .pl-text {
        @include translate3d(0, -50%, 0);
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-align: center;
        text-overflow: ellipsis;
        top: 50%;
    }

    .pl-title {
        font-weight: normal;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .pl-message {
        font-weight: lighter;
    }
}

.modal {
    &.preloader-modal {
        background: $pl-modal-bg;

        .dialog {
            background: transparent;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .dialog-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
