$float: right;
$opposite-float: left;
$direction: rtl;
$opposite-direction: ltr;
$direction-eq: -1;
$font-path: '../fonts';

@import 'fonts/iransans';
$base-font-family: 'Iranian Sans', Tahoma, Geneva, sans-serif;

@import 'common';
