.about-page {
    //display: flex;
    //flex-direction: column;
    background: $white;

    .logo-wrapper {
        height: 15vh;
        margin: auto;
        width: 15vh;

        img {
            height: auto;
            width: 100%;
        }
    }

    .content {
        border: 1px solid $border-color;
        border-left: 0;
        border-right: 0; //flex: 1;
        margin: -10px 20px 20px;
        padding: 10px;
        text-align: justify;
    }

    .app-version {
        color: $color-semidark;
        direction: ltr;
        font-family: monospace;
        padding-bottom: 20px;
        text-align: center;
    }
}
