$multichoice-margin-top: 20px;
$multichoice-margin-side: 10%;

.multichoice-input {
    background-color: $form-control-bg;
    border: 1px solid $border-color;
    border-radius: $form-control-border-radius;
    display: block;

    &.has-error {
        border-color: $color-error;
    }

    label {
        color: $color-semilight;
        font-size: $font-size-xsmall;
    }

    ul {
        margin: get-value-by-direction($multichoice-margin-top auto $multichoice-margin-top $multichoice-margin-side, $multichoice-margin-top $multichoice-margin-side $multichoice-margin-top auto);
    }

    li {
        list-style: none;
        margin-#{$float}: 20px;
        white-space: nowrap;

        &.select-all-choice {
            label {
                color: $color-secondary;
            }
        }

        label, input {
            cursor: pointer;
            display: inline-block;
            margin: auto 5px;
            vertical-align: middle;
        }
    }
}