.text-input {
    &.dir-ltr {
        input {
            direction: ltr;
            text-align: $float;
        }
    }
    &.dir-rtl {
        input {
            direction: rtl;
            text-align: $float;
        }
    }
}