@font-face {
    font-family: 'Iranian Sans';
    src: url('#{$font-path}/iranian-sans/irsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iranian Sans';
    src: url('#{$font-path}/iranian-sans/irsansb.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

