//$autocomplete-list-top-offset: 2 * ($form-group-margin + $form-group-padding) + $form-control-height + 2 * ($form-control-padding);
$autocomplete-list-top-offset: $form-control-height;
$autocomplete-clear-btn-size: 24px;

.autocomplete-input {
    position: relative;

    &.has-list {
        input {
            border-bottom-#{$float}-radius: 0;
        }
    }

    &.is-multi {}

    .list-wrapper {
        #{$float}: 2px;
        border: 0;
        border-radius: 0;
        padding: 0;
        position: absolute;
        top: $autocomplete-list-top-offset;
        width: 80%;
        z-index: $z-index-content;
    }

    .list-item {
        //border: 1px solid blue;
        background: $form-control-bg;
        border: 1px solid $border-color;
        border-bottom: 0;
        cursor: pointer;
        display: block;
        padding: $form-control-padding;

        &.has-hover {
            background: $color-semidark;
            color: $white;
        }

        &:last-child {
            border-bottom: 1px solid $border-color;
            // border-bottom-left-radius: $border-radius;
            // border-bottom-right-radius: $border-radius;
        }
    }

    .selected-items {
        max-width: 50%;

        span {
            border: 1px solid $border-color;
            border-radius: $border-radius;
            cursor: pointer;
            display: inline-block;
            margin: 5px;
            padding: 2px 7px;
            position: relative;
            vertical-align: middle;

            &:after {
                background: $white;
                border: 1px solid $color-error;
                border-radius: 50%;
                color: $color-error;
                content: 'X';
                height: $autocomplete-clear-btn-size;
                left: ceil(-$autocomplete-clear-btn-size/2);
                position: absolute;
                text-align: center;
                top: ceil(-$autocomplete-clear-btn-size/2);
                width: $autocomplete-clear-btn-size;
            }
        }
    }
}
