$wysiwyg-header-btn-size: $btn-height;

.wysiwyg {
    border: 1px solid $border-color;
    border-radius: $form-control-border-radius;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100px;
    position: relative;
    width: 100%;

    &.has-error {
        .editor {
            border-color: $color-error;
        }
    }

    .title {
        //text-align: center;
        //font-weight: lighter;
        font-size: $font-size-small;
        padding: 5px;
    }

    .toolbar {
        //border: 2px solid blue;
        //direction: ltr;
        padding: 0;

        .btn {
            //border: 1px solid $border-color;
            //border-radius: 0;
            color: $color-secondary;
        }

        .icon {
            line-height: $wysiwyg-header-btn-size;
        }
    }

    .editor {
        //border-bottom-left-radius: $form-control-border-radius;
        //border-bottom-right-radius: $form-control-border-radius;
        border: 1px solid $border-color;
        flex: 1;
        margin: 2px;
        outline: 0;
        padding: 5px;
    }

    img {
        height: auto;
        width: 100%;
    }
}

.file-manager-dialog {
    .dialog-content {
        padding: 0;
    }
}
