<?xml version='1.0' encoding='utf-8'?>
<widget id="bz.vesta.cordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>vesta.cordova</name>
    <description />
    <author email="info@vesta.bz" href="https://vesta.bz">Vesta Rayan Afzar</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="Orientation" value="portrait" />
    <preference name="prerendered-icon" value="true" />
    <preference name="SplashScreenDelay" value="30000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="FullScreen" value="false" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />
        <icon density="ldpi" src="www/images/icons/36x36.png" />
        <icon density="mdpi" src="www/images/icons/48x48.png" />
        <icon density="hdpi" src="www/images/icons/72x72.png" />
        <icon density="xhdpi" src="www/images/icons/96x96.png" />
        <icon density="xxhdpi" src="www/images/icons/144x144.png" />
        <icon density="xxxhdpi" src="www/images/icons/192x192.png" />
        <splash density="port-xhdpi" src="www/images/splash/768x1024.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="KeyboardDisplayRequiresUserAction" value="false" />
        <preference name="iosPersistentFileLocation" value="Library" />
        <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
        <icon height="72" src="www/images/icons/72x72.png" width="72" />
        <icon height="144" src="www/images/icons/144x144.png" width="144" />
        <splash height="1024" src="www/images/splash/768x1024.png" width="768" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.0.4" />
</widget>
