<?xml version='1.0' encoding='utf-8'?>
<widget id="bz.vesta.cordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
  <name>vesta.cordova</name>
  <description/>
  <author email="info@vesta.bz" href="https://vesta.bz">Vesta Rayan Afzar</author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="19"/>
  <preference name="BackupWebStorage" value="local"/>
  <preference name="Orientation" value="portrait"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="SplashScreenDelay" value="30000" />
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="FadeSplashScreenDuration" value="500"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="StatusBarOverlaysWebView" value="true"/>
  <platform name="android">
    <allow-intent href="market:*"/>
    <preference name="FullScreen" value="false"/>
    <preference name="AndroidPersistentFileLocation" value="Internal"/>
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root"/>
    <icon density="ldpi" src="www/img/icons/36x36.png"/>
    <icon density="mdpi" src="www/img/icons/48x48.png"/>
    <icon density="hdpi" src="www/img/icons/72x72.png"/>
    <icon density="xhdpi" src="www/img/icons/96x96.png"/>
    <icon density="xxhdpi" src="www/img/icons/144x144.png"/>
    <icon density="xxxhdpi" src="www/img/icons/192x192.png"/>
    <splash density="port-ldpi" src="www/img/splash/200x320.png"/>
    <splash density="port-mdpi" src="www/img/splash/320x480.png"/>
    <splash density="port-hdpi" src="www/img/splash/480x800.png"/>
    <splash density="port-xhdpi" src="www/img/splash/720x1280.png"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
    <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
    <preference name="iosPersistentFileLocation" value="Library"/>
    <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root"/>
    <icon height="180" src="www/img/icons/180x180.png" width="180"/>
    <icon height="60" src="www/img/icons/60x60.png" width="60"/>
    <icon height="120" src="www/img/icons/120x120.png" width="120"/>
    <icon height="76" src="www/img/icons/76x76.png" width="76"/>
    <icon height="152" src="www/img/icons/152x152.png" width="152"/>
    <icon height="40" src="www/img/icons/40x40.png" width="40"/>
    <icon height="80" src="www/img/icons/80x80.png" width="80"/>
    <icon height="57" src="www/img/icons/57x57.png" width="57"/>
    <icon height="114" src="www/img/icons/114x114.png" width="114"/>
    <icon height="72" src="www/img/icons/72x72.png" width="72"/>
    <icon height="144" src="www/img/icons/144x144.png" width="144"/>
    <icon height="167" src="www/img/icons/167x167.png" width="167"/>
    <icon height="29" src="www/img/icons/29x29.png" width="29"/>
    <icon height="58" src="www/img/icons/58x58.png" width="58"/>
    <icon height="50" src="www/img/icons/50x50.png" width="50"/>
    <icon height="100" src="www/img/icons/100x100.png" width="100"/>
    <icon height="167" src="www/img/icons/167x167.png" width="167"/>
    <splash height="480" src="www/img/splash/320x480.png" width="320"/>
    <splash height="960" src="www/img/splash/640x960.png" width="640"/>
    <splash height="1024" src="www/img/splash/768x1024.png" width="768"/>
    <splash height="2048" src="www/img/splash/1536x2048.png" width="1536"/>
    <splash height="1136" src="www/img/splash/640x1136.png" width="640"/>
    <splash height="1334" src="www/img/splash/750x1334.png" width="750"/>
    <splash height="2208" src="www/img/splash/1242x2208.png" width="1242"/>
  </platform>
  <engine name="android" spec="6.3.0"/>
  <engine name="ios" spec="4.5.4"/>
  <plugin name="cordova-plugin-whitelist" spec="^1.3.2"/>
  <plugin name="cordova-plugin-geolocation" spec="^2.4.3"/>
  <plugin name="cordova-plugin-splashscreen" spec="^4.0.3"/>
  <plugin name="cordova-plugin-statusbar" spec="^2.2.3"/>
  <plugin name="onesignal-cordova-plugin" spec="^2.2.2"/>
  <plugin name="cordova-plugin-ionic-keyboard" spec="^2.0.4"/>
</widget>
