@import "./app/components/misc/imports";

html, body {
    color: $color-primary-text;
    direction: $direction;
    font-family: $base-font-family;
    font-size: $font-size-base;
    text-overflow: clip;
}

.en {
    direction: ltr;
    font-family: Verdana, Geneva, sans-serif;
}

input, textarea, select, button {
    font-family: inherit;
}

a {
    color: $color-primary-text;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

ul {
    list-style: none;
}

.row {
    display: flex;

    &.wrap {
        flex-wrap: wrap;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.space-between {
        justify-content: space-between;
    }
}

// FRAME
html, body {
    height: 100%;
    width: 100%;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    min-width: $layout-small-min;
    overflow: visible;
}


//#root
//  #main-wrapper
//    #main-content
//      #content-wrapper
//        .page
//        #main-footer
//        #side-nav

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#main-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#content-wrapper {
    //padding-top: $header-height;
    display: flex;
    flex: 1;
    flex-direction: column;

    .page {
        //border: 2px solid blue;
        flex: 1;
        width: 100%;
    }
}

#main-footer {
    //border: 2px solid green;
    direction: ltr;
    height: $footer-height;
    min-height: $footer-height;
    text-align: center;
}
