$float: left;
$opposite-float: right;
$direction: ltr;
$opposite-direction: rtl;
$direction-eq: 1;
$font-path: '../fonts';

$base-font-family: Verdana, Geneva, sans-serif;

@import '../node_modules/@vesta/components/src/index-ltr.scss';
@import 'scss/common';
