$float: right;
$opposite-float: left;
$direction: rtl;
$opposite-direction: ltr;
$direction-eq: -1;
$font-path: '../fonts';

$base-font-family: IRANSans, Tahoma, Verdana, Geneva, sans-serif;

@import '../node_modules/@vesta/components/src/index-rtl.scss';
@import 'scss/common';
