html, body {
    color: $color-primary-text;
    direction: $direction;
    font-family: $base-font-family;
    font-size: $font-size-base;
    text-overflow: clip;
}

.en {
    direction: ltr;
    font-family: Verdana, Geneva, sans-serif;
}

input, textarea, select, button {
    font-family: inherit;
}

a {
    color: $color-primary-text;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

ul {
    list-style: none;
}

.row {
    display: flex;

    &.wrap {
        flex-wrap: wrap;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.space-between {
        justify-content: space-between;
    }
}
