@import "../misc/imports";

.login-page {

    .forget-link {
        font-size: $font-size-small;
        margin: 20px auto 0;
        text-align: end;

        a {
            color: $color-primary;
        }
    }
}
