@import "../misc/imports";

.register-page {

    .agreement {
        font-weight: lighter;
        margin-top: 20px;
        text-align: center;
        white-space: nowrap;

        a {
            color: $color-primary;
        }
    }
}
