@import "../misc/imports";

.support-page {
    display: flex;
    flex-direction: column;

    .content {
        background: $white;
        border-radius: $form-control-border-radius;
        margin: $form-group-margin;
        padding: 3vh;
        text-align: justify;
    }

    .contact-btns {
        text-align: center;
    }
}
